[user]
    	name = Kacper Adamczyk
    	email = kacper@admck.com
	signingkey = {{ .gpg }}
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[commit]
	gpgsign = true
[tag]
	gpgSign = true
